body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.text {
    font-size: 24px;
    color: #333;
}
.text1{
    text-align: center;
}
.link {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.link:hover {
    background-color: #0056b3;
}

/* Media Query for screens 600px and smaller */
@media only screen and (max-width: 600px) {
    .text {
        font-size: 18px;
    }

    .link {
        padding: 8px 16px;
    }
}
